user_uuid = "57e6b409-4fb0-4858-ab91-23efafbd0758"
bucket_name = "1y979irsziz63o38"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version = 1